.footer {
    width: 100%;
    max-width: 1366px;
    .container-with-footer {
        // background-image: url(images/background-footer.png);
        // background-repeat: no-repeat;
        // width: 1270px;
        font-family: $font-family;
        // padding-top: 91px;
        // padding-bottom: 64px;
        // padding-right: 197px;
        // padding: 91px 213px 64px 293px;
        margin-right: 96px;
        padding: 91px 197px 64px 0px;
        // font-family: "Gilroy", sans-serif;
        background-color: #316099;
        border-radius: 0px 200px 0px 0px; 
        .feedback {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 96px 213px;
            .container-for-text {
                width: 460px;
                .header-of-footer {
                    margin-bottom: 32px;
                    color: white;
                    font-size: $font-size-l;
                }
                .text-three {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: $font-size-xs;
                }
            }
            .lets-talk {
                width: 220px;
                height: 56px;
                border: none;
                border-radius: 10px;
                background-color: #5A98D0;
                color: white;

            }
        }
        .line-two {
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            width: 1073px;
        }
        .contacts-about-and-follow {
            display: flex;
            align-items: center;
            margin-top: 97px;
            margin-left: 213px;
            margin-bottom: 74px; 
            .contacts {
                width: 300px;
                margin-right: 100px;
                .header-with-logo{
                    display: flex;
                    align-items: center;
                    .header-of-contacts {
                        color: white;
                        font-size: $font-size-m;
                    }
                }
                .texts {
                    color: white;
                    font-size: $font-size-xs;
                    margin-top: 24px;
                    .bold-letter {
                        font-weight: 600;
                        margin-right: 16px;
                    }
                }
            }
            .about {
                margin-right: 77px;
                .header-of-about {
                    font-size: $font-size-s;
                    color: white;
                    font-weight: 600;
                    margin-bottom: 32px;
                }
                .texts {
                    margin-bottom: 16px;
                    color: white;
                    font-size: $font-size-xs;
                }
            }
            .follow {
                .header-of-follow {
                    font-size: $font-size-s;
                    color: white;
                    font-weight: 600;
                    margin-bottom: 32px;
                }
                .texts {
                    margin-bottom: 16px;
                    color: white;
                    font-size: $font-size-xs;
                }
            }
        }
        .rights {
            font-size: $font-size-xs;
            color: rgba(255, 255, 255, 0.4);
            margin-left: 213px;
        }
    }
}