.main {
    // position: relative;
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    max-width: 1366px;
    .container {
        padding: 20px 212px 20px 212px;
        font-family: $font-family;
        .popular {
            line-height: 25px;
            letter-spacing: 0.04em;
            color: #356EAD;
            opacity: 0.8;
            font-weight: 600;
            font-family: 'Gilroy';
            margin-bottom: 32px;
        }
        .content {
            display: flex;
            margin-bottom: 32px;
            .main-content {
                .head {
                    font-family: "Galien";
                    font-weight: 600;
                    color: #1F3F68;
                    font-size: $font-size-xxl;
                    line-height: 58px;
                    letter-spacing: 0.04em;
                    margin-bottom: 32px;
                }
                .text-one {
                    font-size: $font-size-xs;
                    line-height: 26px;
                    letter-spacing: 0.04em; 
                    opacity: 0.6;
                    margin-bottom: 30px;            
                }
                .author-date-and-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 320px;
                    height: 60px;
                    margin-bottom: 32px;
                    .author {
                        color: rgb(31, 63, 104);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .date {
                        color: rgba(31, 63, 104, 0.4);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .buttons-fav-and-share {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        .favorite {
                            width: 18px;
                            height: 22px;
                            background-image: url(images/favorite.png);
                            background-repeat: no-repeat;
                            border: none;
                            background-position: center;
                            background-color: transparent;
                            cursor: pointer;
                        }
                        .share {
                                width: 18px;
                                height: $font-size-s;
                                background-image: url(images/share.png);
                                background-repeat: no-repeat;
                                border: none;
                                background-position: center;
                                background-color: transparent;
                                cursor: pointer;
                        }
                    }
                }
                
            }
            .image-house1 {
                width: 100%;
                height: 360px;
            }
        }
        .columns {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .col {
                width: 300px;
                .img-col {
                    width: 300px;
                    height: 200px;
                    margin-bottom: 16px;
                }
                h2 {
                    font-family: "Galien";
                    font-weight: 600;
                    color: #1F3F68;
                    line-height: 38px;
                    letter-spacing: 0.04em;
                    margin-bottom: 16px;
                }
                .text-col {
                    font-family: $font-family;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.04em;
                    opacity: 0.6;
                    margin-bottom: 16px;
                }
                .author-date-and-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    margin-bottom: 32px;
                    .author {
                        color: rgb(31, 63, 104);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .date {
                        color: rgba(31, 63, 104, 0.4);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .buttons-fav-and-share {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        .favorite {
                            width: 18px;
                            height: 22px;
                            background-image: url(images/favorite.png);
                            background-repeat: no-repeat;
                            border: none;
                            background-position: center;
                            background-color: transparent;
                            cursor: pointer;
                        }
                        .share {
                                width: 18px;
                                height: $font-size-s;
                                background-image: url(images/share.png);
                                background-repeat: no-repeat;
                                border: none;
                                background-position: center;
                                background-color: transparent;
                                cursor: pointer;
                        }
                    }
                }
            }
        }
        .see-all-popular-article {
            display: flex;
            justify-content: end;
            margin: 24px 0;
            .popular-article {
                color: rgb(53, 110, 173);
                text-decoration: none;
                font-size: $font-size-xs;
                text-transform: uppercase;
                
            }
        }
        .line {
            width: 940px;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        .all-article {
            .header-of-all-article {
                font-size: $font-size-s;
                color: #356EAD;
                text-transform: uppercase;
                margin-top: 56px;
                margin-bottom: 32px;
            }
            .article1 {
                display: flex;
                margin-bottom: 32px;
                .img-all-article {
                    width: 300px;
                    height: 200px;
                }
                .text-right-side {
                    margin-left: 19px;
                    width: 540px;
                    .header-of-text {
                        font-family: "Galien";
                        font-weight: 600;
                        color: #1F3F68;
                        font-size: $font-size-m;
                        margin-bottom: 16px;
                    }
                    .text-two {
                        color: #00000099;
                        font-size: $font-size-xs;
                        margin-bottom: 14px;
                        line-height: 26px;
                        letter-spacing: 0.04em;
                        opacity: 0.6;
                    }
                }
                .author-date-and-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    width: 300px;
                    .author {
                        color: rgb(31, 63, 104);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .date {
                        color: rgba(31, 63, 104, 0.4);
                        font-size: $font-size-xxs;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                    }
                    .buttons-fav-and-share {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        .favorite {
                            width: 18px;
                            height: 22px;
                            background-image: url(images/favorite.png);
                            background-repeat: no-repeat;
                            border: none;
                            background-position: center;
                            background-color: transparent;
                            cursor: pointer;
                        }
                        .share {
                                width: 18px;
                                height: $font-size-s;
                                background-image: url(images/share.png);
                                background-repeat: no-repeat;
                                border: none;
                                background-position: center;
                                background-color: transparent;
                                cursor: pointer;
                        }
                    }
                }
            }
        }
        .container-for-buttons-new-and-old {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 56px 0;
            .new-post-button {
                width: 110px;
                background-image: url(images/arrow.png);
                background-repeat: no-repeat;
                background-position: left;
                font-size: $font-size-xs;
                color: #356EAD;
                border: none;
                background-color: white;
                cursor: pointer;
            }
            .old-post-button {
                width: 110px;
                background-image: url(images/arrow2.png);
                background-repeat: no-repeat;
                background-position: right;
                border: none;
                font-size: $font-size-xs;
                color: #356EAD;
                border: none;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}