$font-family: 'Gilroy', sans-serif;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-m: 28px;
$font-size-l: 36px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
// $background-image: 
//         background-repeat: no-repeat;
//         border: none;
//         background-position: center;