@font-face {
  font-family: "Galien";
  src: url(./fonts/Galien\ Regular.woff2);
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Regular.woff2);
}
.header {
  max-width: 1366px;
  height: 471px;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 56px;
}
.header .a-and-vector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 83px 40px 83px;
  width: 1200px;
  height: 48px;
}
.header .a-and-vector .awithcircle {
  background-image: url(images/awithcircle.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  cursor: pointer;
  width: 48px;
  height: 32px;
}
.header .a-and-vector .vector {
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  cursor: pointer;
  width: 24px;
  height: 16px;
}
.header .blog-afrianska {
  background-image: url(images/MaskGroup.png);
  text-align: center;
  padding: 50px 277px 50px 277px;
}
.header .blog-afrianska h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin: 16px;
}
.header .blog-afrianska p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  margin: 16px;
  font-weight: 500;
}
.header .search-article {
  box-sizing: border-box;
  position: relative;
  margin: 56px 213px 0 213px;
}
.header .search-article .search-button {
  background-image: url(images/searchimg.png);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 27px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}
.header .search-article .search {
  height: 56px;
  width: 940px;
  border: none;
  background-color: #F4F4F4;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  padding: 20px 70px;
  font-family: "Gilroy", sans-serif;
}
.header .search-article .search::-moz-placeholder {
  color: rgba(31, 63, 104, 0.6);
}
.header .search-article .search:-ms-input-placeholder {
  color: rgba(31, 63, 104, 0.6);
}
.header .search-article .search::placeholder {
  color: rgba(31, 63, 104, 0.6);
}

.main {
  max-width: 1366px;
}
.main .container {
  padding: 20px 212px 20px 212px;
  font-family: "Gilroy", sans-serif;
}
.main .container .popular {
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356EAD;
  opacity: 0.8;
  font-weight: 600;
  font-family: "Gilroy";
  margin-bottom: 32px;
}
.main .container .content {
  display: flex;
  margin-bottom: 32px;
}
.main .container .content .main-content .head {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}
.main .container .content .main-content .text-one {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  opacity: 0.6;
  margin-bottom: 30px;
}
.main .container .content .main-content .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 60px;
  margin-bottom: 32px;
}
.main .container .content .main-content .author-date-and-button .author {
  color: rgb(31, 63, 104);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .content .main-content .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .content .image-house1 {
  width: 100%;
  height: 360px;
}
.main .container .columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main .container .columns .col {
  width: 300px;
}
.main .container .columns .col .img-col {
  width: 300px;
  height: 200px;
  margin-bottom: 16px;
}
.main .container .columns .col h2 {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
  line-height: 38px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}
.main .container .columns .col .text-col {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  opacity: 0.6;
  margin-bottom: 16px;
}
.main .container .columns .col .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 32px;
}
.main .container .columns .col .author-date-and-button .author {
  color: rgb(31, 63, 104);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .columns .col .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .see-all-popular-article {
  display: flex;
  justify-content: end;
  margin: 24px 0;
}
.main .container .see-all-popular-article .popular-article {
  color: rgb(53, 110, 173);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.main .container .line {
  width: 940px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main .container .all-article .header-of-all-article {
  font-size: 20px;
  color: #356EAD;
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 32px;
}
.main .container .all-article .article1 {
  display: flex;
  margin-bottom: 32px;
}
.main .container .all-article .article1 .img-all-article {
  width: 300px;
  height: 200px;
}
.main .container .all-article .article1 .text-right-side {
  margin-left: 19px;
  width: 540px;
}
.main .container .all-article .article1 .text-right-side .header-of-text {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
  font-size: 28px;
  margin-bottom: 16px;
}
.main .container .all-article .article1 .text-right-side .text-two {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 26px;
  letter-spacing: 0.04em;
  opacity: 0.6;
}
.main .container .all-article .article1 .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 300px;
}
.main .container .all-article .article1 .author-date-and-button .author {
  color: rgb(31, 63, 104);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .all-article .article1 .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
.main .container .container-for-buttons-new-and-old {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 56px 0;
}
.main .container .container-for-buttons-new-and-old .new-post-button {
  width: 110px;
  background-image: url(images/arrow.png);
  background-repeat: no-repeat;
  background-position: left;
  font-size: 16px;
  color: #356EAD;
  border: none;
  background-color: white;
  cursor: pointer;
}
.main .container .container-for-buttons-new-and-old .old-post-button {
  width: 110px;
  background-image: url(images/arrow2.png);
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  font-size: 16px;
  color: #356EAD;
  border: none;
  background-color: white;
  cursor: pointer;
}

.footer {
  width: 100%;
  max-width: 1366px;
}
.footer .container-with-footer {
  font-family: "Gilroy", sans-serif;
  margin-right: 96px;
  padding: 91px 197px 64px 0px;
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
}
.footer .container-with-footer .feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 96px 213px;
}
.footer .container-with-footer .feedback .container-for-text {
  width: 460px;
}
.footer .container-with-footer .feedback .container-for-text .header-of-footer {
  margin-bottom: 32px;
  color: white;
  font-size: 36px;
}
.footer .container-with-footer .feedback .container-for-text .text-three {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.footer .container-with-footer .feedback .lets-talk {
  width: 220px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #5A98D0;
  color: white;
  cursor: pointer;
}
.footer .container-with-footer .line-two {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 1073px;
}
.footer .container-with-footer .contacts-about-and-follow {
  display: flex;
  align-items: center;
  margin-top: 97px;
  margin-left: 213px;
  margin-bottom: 74px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts {
  width: 300px;
  margin-right: 100px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .header-with-logo {
  display: flex;
  align-items: center;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .header-with-logo .header-of-contacts {
  color: white;
  font-size: 28px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .texts {
  color: white;
  font-size: 16px;
  margin-top: 24px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .texts .bold-letter {
  font-weight: 600;
  margin-right: 16px;
}
.footer .container-with-footer .contacts-about-and-follow .about {
  margin-right: 77px;
}
.footer .container-with-footer .contacts-about-and-follow .about .header-of-about {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer .container-with-footer .contacts-about-and-follow .about .texts {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.footer .container-with-footer .contacts-about-and-follow .follow .header-of-follow {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer .container-with-footer .contacts-about-and-follow .follow .texts {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.footer .container-with-footer .rights {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 213px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */