@font-face {
  font-family: "Galien";
  src: url(./fonts/Galien\ Regular.woff2);
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Regular.woff2);
}
.header {
  max-width: 1366px;
  height: 471px;
  margin-top: 19px;
  font-family: "Gilroy", sans-serif;
}
.header .a-and-vector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 83px 40px 83px;
  width: 1200px;
  height: 48px;
}
.header .a-and-vector .awithcircle {
  background-image: url(images/awithcircle.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  cursor: pointer;
  width: 48px;
  height: 32px;
}
.header .a-and-vector .vector {
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  cursor: pointer;
  width: 24px;
  height: 16px;
}
.header .blog-afrianska {
  background-image: url(images/MaskGroup.png);
  text-align: center;
  padding: 50px 277px 50px 277px;
}
.header .blog-afrianska h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin: 16px;
}
.header .blog-afrianska p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  margin: 16px;
  font-weight: 500;
}
.header .search-article {
  position: relative;
  height: 56px;
  width: 940px;
  margin: 56px 213px 56px 213px;
}
.header .search-article .search-button {
  background-image: url(images/searchimg.png);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 27px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}
.header .search-article .search {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #F4F4F4;
  border-radius: 10px;
  outline: none;
}
.header .search-article .search::-moz-placeholder {
  color: rgba(31, 63, 104, 0.6);
  font-size: 16px;
  padding-left: 70px;
  font-family: "Gilroy", sans-serif;
}
.header .search-article .search:-ms-input-placeholder {
  color: rgba(31, 63, 104, 0.6);
  font-size: 16px;
  padding-left: 70px;
  font-family: "Gilroy", sans-serif;
}
.header .search-article .search::placeholder {
  color: rgba(31, 63, 104, 0.6);
  font-size: 16px;
  padding-left: 70px;
  font-family: "Gilroy", sans-serif;
}

.main {
  max-width: 1366px;
}
.main .container {
  padding: 20px 212px 20px 212px;
  font-family: "Gilroy", sans-serif;
}
.main .container .popular {
  font-size: 20px;
  color: rgb(53, 110, 173);
}
.main .container .content {
  display: flex;
  margin-bottom: 32px;
}
.main .container .content .main-content .head {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
  font-size: 48px;
  line-height: 58px;
}
.main .container .content .main-content .text-one {
  font-size: 16px;
}
.main .container .content .main-content .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 60px;
}
.main .container .content .main-content .author-date-and-button .author {
  color: rgb(31, 63, 104);
  font-size: 14px;
}
.main .container .content .main-content .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .content .main-content .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .content .image-house1 {
  width: 100%;
  height: 360px;
}
.main .container .columns {
  display: flex;
  justify-content: space-between;
}
.main .container .columns .col:first-child {
  margin-right: 20px;
}
.main .container .columns .col:last-child {
  margin-left: 20px;
}
.main .container .columns .col h2 {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
}
.main .container .columns .col .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .columns .col .author-date-and-button .author {
  color: #1F3F68;
  font-size: 14px;
}
.main .container .columns .col .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .columns .col .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .see-all-popular-article {
  display: flex;
  justify-content: end;
}
.main .container .see-all-popular-article .popular-article {
  color: rgb(53, 110, 173);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main .container .line {
  width: 940px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main .container .all-article .header-of-all-article {
  font-size: 20px;
  color: #356EAD;
  text-transform: uppercase;
  margin-bottom: 0;
}
.main .container .all-article .article1 {
  display: flex;
  margin-top: 32px;
}
.main .container .all-article .article1 .text-right-side {
  margin-left: 19px;
}
.main .container .all-article .article1 .text-right-side .header-of-text {
  font-family: "Galien";
  font-weight: 600;
  color: #1F3F68;
  font-size: 28px;
}
.main .container .all-article .article1 .text-right-side .text-two {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.main .container .all-article .article1 .author-date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 60px;
}
.main .container .all-article .article1 .author-date-and-button .author {
  color: #1F3F68;
  font-size: 14px;
}
.main .container .all-article .article1 .author-date-and-button .date {
  color: rgba(31, 63, 104, 0.4);
  font-size: 14px;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 40px;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share .favorite {
  width: 18px;
  height: 22px;
  background-image: url(images/favorite.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .all-article .article1 .author-date-and-button .buttons-fav-and-share .share {
  width: 18px;
  height: 20px;
  background-image: url(images/share.png);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}
.main .container .container-for-buttons-new-and-old {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 56px;
}
.main .container .container-for-buttons-new-and-old .new-post-button {
  font-size: 16px;
  color: #356EAD;
  border: none;
  background-color: white;
}
.main .container .container-for-buttons-new-and-old .old-post-button {
  font-size: 16px;
  color: #356EAD;
  border: none;
  background-color: white;
}

.footer {
  max-width: 1366px;
}
.footer .container-with-footer {
  background-image: url(images/background-footer.png);
  background-repeat: no-repeat;
  width: 1270px;
  font-family: "Gilroy", sans-serif;
}
.footer .container-with-footer .feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container-with-footer .feedback .container-for-text {
  width: 460px;
  margin-right: 180px;
  margin-bottom: 96px;
}
.footer .container-with-footer .feedback .container-for-text .header-of-footer {
  color: white;
  font-size: 36px;
}
.footer .container-with-footer .feedback .container-for-text .text-three {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.footer .container-with-footer .feedback .lets-talk {
  width: 220px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #5A98D0;
  color: white;
}
.footer .container-with-footer .line-two {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 1073px;
}
.footer .container-with-footer .contacts-about-and-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 97px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts {
  width: 300px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .header-with-logo {
  display: flex;
  align-items: center;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .header-with-logo .header-of-contacts {
  color: white;
  font-size: 28px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .texts {
  color: white;
  font-size: 16px;
  margin-top: 24px;
}
.footer .container-with-footer .contacts-about-and-follow .contacts .texts .bold-letter {
  font-weight: 600;
  margin-right: 16px;
}
.footer .container-with-footer .contacts-about-and-follow .about .header-of-about {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer .container-with-footer .contacts-about-and-follow .about .texts {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.footer .container-with-footer .contacts-about-and-follow .follow .header-of-follow {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer .container-with-footer .contacts-about-and-follow .follow .texts {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.footer .container-with-footer .rights {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin: 64px 213px;
}/*# sourceMappingURL=style.css.map */